*/xembed
*-protocol.c
*-protocol.h
*-protocol.o
.ccls-cache
*.rej
*.orig
*.o
*.swn
*.swo
*.swp

maomao/.cache
maomao/result

dmenu/dmenu
dmenu/stest
maomao/maomao
dmenu/stest
dmenu-flexipatch/stest
dmenu-flexipatch/dmenu
dwm/dwm
dwmblocks/dwmblocks
dwl/dwl
surf/surf
tabbed-flexipath/tabbed
slock/slock
st/st
st-flexipatch/st
