tabbed/tabbed
tabbed_y/tabbed
slock/slock
st/st
st-flexipatch/st
dmenu/dmenu
dmenu/stest
*/xembed
surf/surf
*.rej
*.orig
*.o
dmenu/stest
dmenu-flexipatch/stest
dmenu-flexipatch/dmenu
dwm/dwm
dwmblocks/dwmblocks
dwl/dwl
*-protocol.c
*-protocol.h
.ccls-cache
*.swn
*.swo
*.swp
